#title{
  display: none;
}
#nextmessage{
  color: blue;
}
.box {
    border: 2px solid #444;
    padding: 20px;
    width: 300px;
    height: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}
#message{
  position: absolute;
  top: -10px;
  left: 20px;
}
#nextmessage{
  position: absolute;
  top: 25px;
  left: 200px;
}
