#title{
  display: none;
}
#nextmessage{
  color: blue;
}
.box {
    border: 2px solid #444;
    top: 20px;
    left: 20px;
    padding: 20px;
    width: 300px;
    margin: 30px auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}
